<%= form_for(admin_store,:url=>admin_stores_path ) do |f| %>
  <% if admin_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_store.errors.count, "error") %> prohibited this admin_store from being saved:</h2>

      <ul>
      <% admin_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name, required: true%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
